body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: black;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.page {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/

header ul {
	margin-top: 0;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

.menu {
	position: relative;
	min-height: 56px;
	background-color: white; 
}

.menu a:visited {
	color: black;
}

.menu ul {
	font-weight: 700;
	color: black;

	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	padding: 0;
}

.menu li{

	text-align: center;

	width: 239px;

	margin-top:18px;
}

.menu li:nth-child(3) {
	margin-left: 204px;
}

.current {
	color: #766357;
}

/*Footer*/

footer {

	height: 120px;

	display: flex;
	justify-content: space-around;

	background-color: rgba(255, 255, 255, 0.9);
}

.index-footer {
	position: absolute;
	bottom: 0px;
}

.box {
	width: 400px;
}

.box:first-child p{	
	text-align: center;
	font-weight: 700; 
	font-size: 21px;
	margin-top: 51px;
	margin-bottom: 53px;
	height: 16px;
}

.box:nth-child(2) {
	margin-top: 36px;
	margin-bottom: 36px;
	height: 48px;
}

.box:nth-child(2) ul {
	padding: 0;
	margin: 0;
	height: 48px;
}

.box:last-child {
	display: flex;
	justify-content: center;
}

.box:last-child svg {
	margin-top: 39px;
	margin-bottom: 40px;
}

.box:last-child p {
    margin-top: 54px;
    margin-bottom: 55px;
    margin-right: 8px;
	line-height: 11px;
}

.social-media {
	display: flex;
	list-style-type: none;
	justify-content: center;
}

.social-media ul {

	margin-top: 36px;
	margin-bottom: 36px;
}

.social-media li {

	margin-right: 6px;
}

.social-media li:last-child {
	margin-right: 0px;
}


.social-media a {
	height: 48px;
	width: 46px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #81b3d2;
}

.social-media a:hover,
.social-media a:focus {
	background-color: #669ec0;
}


.social-media a:active {
	background-color: #5496bd;
}

.social-media a:active svg {
	opacity: 0.3;
}

.logo-academy svg path {
	fill: black;
}

.logo-academy:hover svg path {
	fill: #81b3d2;
}

.logo-academy:active svg path,
.logo-academy:focus svg path {
	fill: #bdbbbc;
}

/*Только для главной*/

.welcome {
	display: flex;
	justify-content: center;
	background-image: url(../img/polygon.png), url(../img/welcome.jpg);
	background-repeat: no-repeat;
	background-size: 1201px, cover;
	background-position: bottom center, center -84px;

	padding-top: 76px;
}

.welcome .svg {
	margin-bottom: 79px;
}


.introduce {
	background-color: white;

	display: flex;
	flex-direction: column;

	text-align: center;

	padding-top: 61px; 
}

.introduce .text {
	font-weight: 700;
	font-size: 21px;
}

.introduce .reason {
	margin-top: 38px;
	margin-bottom: 56px;

}

.facts {
	position: relative;

	margin: 0;
	padding: 0;
}

.facts .main-list {
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
}

.facts ul {
	padding: 0;
	margin: 0;
}

.main-list li {
	text-align: center;
}

.main-list .fact1 {
	width: 100%;
}

.fact1 {
	display: flex;
	flex-wrap: wrap;
	background-color: #81b3d2;
	color: white;
}

.fact1 .real-city-text {
	padding-top: 46px;
	padding-bottom: 64px;
	padding-right: 60px;
	padding-left: 60px; 
	width: 280px;
	margin: 0;
}
.fact1 .feature-picture {
	width: 800px;
}

.fact1 .real-city-text h3 {
	margin: 0;
	font-size: 21px;
}

.fact1 .real-city-text span {
	display: inline-block;
	margin-top: 21px; 
}

.fact1 .real-city-list{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

/*Форма*/

.book-hotel {
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.booking {
	text-align: center;
}

.form {
	position: relative;
 }

form {
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -284px;
	width: 568px;
	background-color: white; 

	min-height: 356px;
}

.form form label {
	font-weight: 700;
}

.book-hotel .open {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: white;
	text-transform: uppercase;

	width: 568px;
	min-height: 86px;

	background-color: #766357;
	border: none;

	margin-left: 316px;
	margin-right: 316px; 
	margin-top: 52px;
}


.book-hotel .open:hover {
	background-color: #604e43;
}

.book-hotel .open:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.book-hotel .find {

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: white;
	text-transform: uppercase;

	width: 458px;
	min-height: 58px;

    background-color: #81b3d2;
    border: none;

    margin-top: 54px;
    margin-bottom: 55px;
    margin-right: 55px;
    margin-left: 55px;
}

.book-hotel .find:hover {
	background-color: #669ec0;
}

.book-hotel .find:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

/*Кнопки в полях*/

.book-hotel .calendar {

	position: absolute;
	
    left: 421px;
	height: 38px;
	width: 38px;
	border: none;

	background-color: #f2f2f2;
}


.book-hotel .calendar path { 
	fill: #a9a9a9;
}


.book-hotel .calendar:hover path {
	fill: black;
}

.book-hotel .calendar:active path {
	fill: #81b3d2;
}



.book-hotel .minus {
	margin-right: 0px;
	margin-left: 41px;
}

.children .minus {
	margin-left: 27px;
}

.book-hotel .plus,
.book-hotel .minus {
    border: none;
	background-color: #f2f2f2;

	width: 38px;
	height: 38px;
}

.book-hotel .plus line,
.book-hotel .minus line {
    stroke: #cacaca;
}

.book-hotel .plus:hover line,
.book-hotel .minus:hover line {
	stroke: black;
}

.book-hotel .plus:active line,
.book-hotel .minus:active line {
	stroke: #81b3d2;
}

/*Поля*/

.book-hotel input {
	background-color: #f2f2f2;
	border: solid 2px #f2f2f2;

	padding: 0px;

	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: black;
	text-transform: uppercase;

}

.book-hotel input::-webkit-input-placeholder{
	color: black;
}
.book-hotel input::-moz-placeholder{
	color: black;
}
.book-hotel input:-moz-placeholder{
	color: black;
}
.book-hotel input:-ms-input-placeholder{
	color: black;
}
.book-hotel input::placeholder {
	color: black;
}

.book-hotel input:hover {
	background-color: #ebebeb;
	border: solid 2px #ebebeb;
}

.book-hotel input:focus {
	border: solid 2px #e5e5e5;
	background-color: white;
}


.book-hotel .text {
	font-size: 30px;
	font-weight: 700;
}

.data-in {

	position: relative;

	width: 459px;
	margin-top: 55px;
	margin-right: 55px;
	margin-left: 55px;
}

.data-in input {
	min-height: 34px;
	width: 320px;
	padding-left: 13px;

	margin-left: 21px;
}



.data-out {

	position: relative;

    width: 459px;
	margin-top: 29px;
	margin-right: 55px;
	margin-left: 55px;
}

.data-out input {
	min-height: 34px;
	width: 320px;
	padding-left: 13px;

	margin-left: 17px;
}

.adult {
	display: flex;
	position: relative;

	margin-left: 55px;
	margin-top: 30px;
}

.children {
	display: flex;
	margin-right: 53px;
	margin-top: 30px;
	margin-left: 53px;
}

.count {
	display: flex;
}

.count input {
	width: 34px;
	height: 34px;
	text-align: center;
	color: black;
}

.count label {
	margin-top: 7px;
}


/*Гостиницы*/

.result ol {
	list-style-type: none;
	background-color: white;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.result ol h3{
	margin-top: 0;
	margin-bottom: 7px;
}


.result li {
	border-top: solid 1px #e5e5e5;

	padding: 30px 72px;

	display: flex;
}

.result li:nth-child(2) h3{
	margin-bottom: 8px;
}

.result li:last-child {
    border-bottom: solid 1px #e5e5e5;
}

.result .holder {
	margin-left: 30px;
}

.result .holder p {
	margin-bottom: 13px;
	margin-top: 0;
}

.result .holder span {
	display: inline-block;
	
	margin-right: 21px;
	min-width: 96px;
}

.star {
	background-repeat: no-repeat;
	height: 17px;
	margin-left: auto;
}

.star1 {
	background-image: url(../img/star.svg);
	width: 18px;
}

.star2 {
	background-image: url(../img/star.svg), url(../img/star.svg);
	background-position: 0, 23px;
    width: 41px;
}

.star3 {
	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-position: 0, 23px, 46px;
    width: 66px;
}

.star4 {
	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-position: 0, 23px, 46px, 69px;
	width: 87px;
}

.star5 {
	background-image: url(../img/star.svg), url(../img/star.svg), url(../img/star.svg), url(../img/star.svg), url(../img/star.svg);
	background-position: 0, 23px, 46px, 69px, 92px;
	width: 105px;
}

.hotel-rating {
	height: 24px;
	width: 110px;
	background-color: #f2f2f2;
	color: #666666;
	text-align: center;
	padding-top: 3px;

	margin-top: 64px;
	margin-bottom: 0px;
}

.hotel-name a {
	font-size: 21px;
	line-height: 18px;
	color: black;
}

.hotel-name:hover a {
	color: #81b3d2;
}

.hotel-name:active a {
	color: rgba(0, 0, 0, 0.3);
}

.result .blocks {
	display: flex;
	min-height: 27px;
}

.result .more {
	display: block;

	height: 24px;
	width: 110px;

	padding-top: 3px;

	background-color: #81b3d2;
	color: white;

	text-align: center;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;	
}

.result .more:hover {
	background-color: #669ec0;
}

.result .more:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.result .book {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: white;
	text-transform: uppercase;

	border: none;
	background-color: #766357;

	width: 142px;
	height: 27px;

	margin-left: 6px;
	margin-right: 522px;
}

.result .book:hover {
	background-color: #604e43;
}

.result .book:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}